<div class="container show-page">
    <%= image_tag(current_user.avatar.large.url, class: "profile-image img-circle") %>
    <h1>Hello <%= current_user.name %>!</h1>

    <hr>

  <div class="lead">
    <h1>My Tasks</h1>
  </div>
  <div class="js-task-form">
    <%= render partial: 'items/form', locals: { item: @new_item } %>
  </div>
  <ul class="list-unstyled js-tasks">
    <%= render @items %>
  </ul>
</div> <!-- /.container -->