<div class="container show-page">
    <%= image_tag(current_user.avatar.large.url, class: "profile-image img-circle") %>
    <h1>Hello <%= current_user.name %>!</h1>

  <div class="row">
    <hr>
    <h2>My Tasks</h2>
    <%= render partial: 'items/form', locals: { item: @new_item } %>
  </div>
  <div class="row">
    <ul class="list-unstyled">
      <%= render current_user.items %>
    </ul>
  </div>
</div> <!-- /.container -->