<!DOCTYPE html>
<html>

  <body class="home-page">
    <div class="container home">
      <div class="jumbotron">
        <h1>Tâche</h1>
        <p>Simply To-Do</p>
      </div>
      <p class="lead">
        <%= link_to "Sign Up", new_user_registration_path, class: 'ghost-button' %>
        <%= link_to "Sign In", new_user_session_path, class: 'ghost-button' %>
      </p>
    </div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2015 Tâche &bull; Brian Stone</p>
      </div>
    </footer>
  </body>


</html>