<%= form_for [current_user, item], :html => { class: "form-inline" } do |f| %>
  <div class="form-group my-tasks">
    <%= f.text_field :task, class: 'form-control', placeholder: 'Enter task' %>
  </div> 
  <%= f.submit "Save task", class: 'task-ghost-button' %>
<% end %>