<%= form_for [current_user, item], :html => {class: 'form-inline'} do |f| %>
  <div class="form-group">
    <%= f.label :task %>
    <%= f.text_field :task, class: 'form-control', placeholder: 'Enter task' %>
  </div> 
  <%= f.submit "Save task", class: 'btn btn-success' %>
<% end %>

