/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*********************
GENERAL STYLING
*********************/

body {
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  height: 50px;
  font-size: 20px;
}

/*********************
NAVIGATION
*********************/

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

.navbar-default {
  border: none;
  background: transparent;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
}

/*********************
Home Page
*********************/

.home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), image-url("handwriting.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container h1 {
  font-size: 4em;
  font-family: 'Pacifico', cursive;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.container p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.jumbotron {
  background: none;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}

.ghost-button:hover {
  text-decoration: none;
  background: white;
  color: #000;
}

@media screen and (max-width: 768px) {
  .ghost-button {
    margin-bottom: 20px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
}

.footer p {
  color: #777;
}

/*********************
Sign up page
*********************/

.container .about-tache h1 {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.sign-ghost-button {
  width: 150px;
  height: 50px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}

.sign-ghost-button:hover {
  color: #fff;
  background: #000;

}

/*********************
Login page
*********************/

.container .welcome-back h1 {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

/*********************
Show Page
*********************/

.show-page {
  margin-top: 20px; 
}

.completed {
  text-align: center;
  margin-top: 10px;
  margin-right: 7px;
}

.item-task {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  padding-bottom: 20px;
}

.js-tasks > .item-task:nth-child(odd) {
  background-color: #f1f1f1;
}


.glyphicon.glyphicon-ok {
  font-size: 40px;
  margin-top: 15px;
  margin-rigth: 15px;
  margin-left: 10px;
  color: #777;
  text-decoration: none;
}

.glyphicon.glyphicon-ok:hover {
  color: #7bc8a4; 
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-page h1 {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
  .show-page h1 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}

.task-ghost-button {
  display: inline-block;
  width: 100px;
  height: 50px;
  padding: 7px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.task-ghost-button:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}

/*********************
User edit page
*********************/

.ghost-button-profile {
  display: inline-block;
  width: 100px;
  height: 50px;
  padding: 7px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.ghost-button-profile:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}

.ghost-button-cancel {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 7px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.ghost-button-cancel:hover {
  text-decoration: none;
  background: #f16745;
  color: #fff;
}